In [2]:
import itertools
import random

people = list(range(1, 5))

In [6]:
table_combinations = itertools.combinations(people, 2)

In [7]:
combs = itertools.combinations(table_combinations, 2)

In [8]:
mutually_exclusive_combinations = []

for combination in combs:
    flat_combination = set(num for group in combination for num in group)
	
    if len(flat_combination) == len(people): # confirm that there are no redundant solutions
         		mutually_exclusive_combinations.append(combination)

In [9]:
len(mutually_exclusive_combinations)

3

# New way

In [18]:
import random

In [19]:
pop_size = 10

people = list(range(1, 7))

n_tables = 3
pp_per_table = len(people) // n_tables

In [16]:
people

[1, 2, 3, 4, 5, 6]

In [20]:
pp_per_table

2

In [17]:
pop = set()

In [27]:
pop_size = 10

people = list(range(1, 7))

n_tables = 3
pp_per_table = len(people) // n_tables

pop = set()

while len(pop) < pop_size:
    random.shuffle(people)

    print('People', people)

    sol = tuple()

    for i in range(n_tables):

        sol += ((people[i:i+pp_per_table]),)

        print('sol construction:', sol)

    print('sol', sol)

    # append sol list to pop
    pop.add(sol)

pop

People [3, 4, 1, 2, 6, 5]
sol construction: ([3, 4],)
sol construction: ([3, 4], [4, 1])
sol construction: ([3, 4], [4, 1], [1, 2])
sol ([3, 4], [4, 1], [1, 2])

TypeError: unhashable type: 'list'

In [25]:
t = tuple()
t += ((1, 2, 3),)
t += ((3, 4, 5),)
t += ((1, 2, 4),)
t

((1, 2, 3), (3, 4, 5), (1, 2, 4))

In [ ]:
((1, 2, 3), (4, 5, 6), (7, 8, 9))
((1, 3, 2), (4, 5, 6), (7, 8, 9))

In [1]:
import random

people = list(range(1, 65))

pop = set()
pop_size = 4
pp_per_table = 8
n_tables = len(people) // pp_per_table

while len(pop) < pop_size:
    random.shuffle(people)

    tables = frozenset(frozenset(people[i:i+pp_per_table]) for i in range(0, len(people), n_tables))

    pop.add(tables)

In [2]:
from charles.charles import Individual

ind1 = Individual(pop.pop())
ind2 = Individual(pop.pop())

In [3]:
print(ind1)
print(ind2)

[{3, 38, 10, 11, 44, 60, 52, 28}, {6, 39, 8, 41, 9, 21, 24, 25}, {64, 34, 4, 5, 45, 49, 19, 61}, {33, 42, 43, 13, 51, 20, 56, 59}, {2, 36, 46, 48, 53, 22, 23, 27}, {35, 16, 17, 54, 55, 58, 30, 31}, {32, 1, 7, 12, 47, 18, 62, 63}, {37, 40, 14, 15, 50, 57, 26, 29}]
[{32, 35, 40, 8, 12, 51, 22, 24}, {9, 19, 52, 21, 53, 56, 28, 31}, {33, 34, 37, 44, 48, 54, 29, 30}, {2, 42, 43, 13, 47, 17, 18, 55}, {1, 39, 46, 14, 49, 23, 58, 27}, {7, 45, 15, 25, 26, 60, 61, 57}, {64, 36, 38, 10, 16, 50, 59, 63}, {3, 4, 5, 6, 41, 11, 20, 62}]

In [4]:
from charles.crossover import gbx_crossover
from charles.mutation import swap_mutation

ind = swap_mutation(ind1)

print(ind)

[{3, 38, 10, 11, 44, 60, 52, 28}, {6, 39, 8, 41, 9, 21, 24, 25}, {64, 34, 4, 5, 45, 49, 19, 61}, {33, 42, 43, 13, 51, 20, 56, 59}, {2, 36, 46, 48, 53, 22, 23, 27}, {32, 16, 17, 54, 55, 58, 30, 31}, {1, 35, 7, 12, 47, 18, 62, 63}, {37, 40, 14, 15, 50, 57, 26, 29}]

In [28]:
fitness_history = [2, 6, 5, 10, 45, 78]

import pandas as pd

df = pd.DataFrame()

df['ola'] = fitness_history

df

   ola
0    2
1    6
2    5
3   10
4   45
5   78

In [29]:
df['adeus'] = [5, 7, 2, 5, 7, 2]

In [30]:
df

   ola  adeus
0    2      5
1    6      7
2    5      2
3   10      5
4   45      7
5   78      2

In [31]:
df.mean(axis=1)

0     3.5
1     6.5
2     3.5
3     7.5
4    26.0
5    40.0
dtype: float64

In [ ]:
from charles.charles import Population
from charles.selection import tournament_selection
from charles.crossover import my_custom_crossover
from charles.mutation import dream_team

pop = Population(pop_size = 100, nr_guests = 64, nr_tables = 8)

pop.evolve(n_generations = 70, xo_prob = 0.9, mut_prob = 0.1, select = tournament_selection,
           crossover = my_custom_crossover, mutate = dream_team, elitism = False)